#jquery-script-menu{
	position: absolute;
height: 0;
width: 100%;
top: 0;
left: 0;
border-top: 0px solid #FFFFFF;
background: #fff;
padding: 0px 0;
-webkit-box-sizing: content-box;
-moz-box-sizing: content-box;
box-sizing: content-box;
  }
img {
   width: 100%;
  max-width: 400px;
  height: auto;
  min-height: 100px;
  min-height: 100px;
}